<li class="featured-item" style="display: none;">
    <div class="featured-card">
        <h2 class="featured-title">
            Title 1
        </h2>
        <button class="sum-btn">Description</button>
        <p class="featured-summary">this is a summary </p>
        <div class="featured-card-foot">
            <ul class="featured-tags">
                <li>tag1</li>
                <li>tag2</li>
                <li>tag3</li>
                <li>tag4</li>
            </ul>
            <a class="featured-link site-link" href="/jkajaks">click to view &rarr;</a>
        </div>
    </div>
</li>
</ul>
