*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --color-bg: 250 250 250;
    --color-text: 10 10 10;
    --color-primary: 151 141 130;
    --color-secondary: 200 191 183;
    --color-accent: 178 164 149;
}

[data-theme="dark"] {
    --color-bg: 5 5 5;
    --color-text: 245 245 245;
    --color-primary: 125 115 104;
    --color-secondary: 72 63 55;
    --color-accent: 106 92 77;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    padding: 0 2rem;
    margin: 0;
    color: rgb(var(--color-text));
    background-color: rgb(var(--color-bg));
    transition: background-color 0.3s;
    font-family: "Inter", sans-serif;
}

nav {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 1200px;
    padding: 3rem 0;
    justify-content: space-between;
    height: auto;
    margin-bottom: 2rem;
    margin-inline: auto;
    perspective: 30rem;

}

a,
a:visited {
    color: rgb(var(--color-text));
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

p,
li,
a {
    font-size: .9rem;
}

.container {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: clamp(1rem, 3vw, 2rem);
    padding: 0 5rem;
}

.logo-icon {
    position: absolute;
    top: 1rem;
    z-index: 1;
    width: 4.5rem;
    display: none;
}

.logo-name {
    position: absolute;
    left: 2.9rem;
    top: .5rem;
    color: rgb(var(--color-text));
}

.logo-wrapper {
    position: relative;
    bottom: 2rem;
    display: flex;
    gap: 0;
    flex: 3;
    perspective: 30rem;
}

.logo-icon,
.logo-name {
    transition: transform 0.3s ease-in-out;
}

.logo-wrapper:hover .logo-icon,
.logo-wrapper:hover .logo-name {
    transform: translateZ(.2rem);
}

.nav-links {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    flex: 2;
}

.nav-links li {
    width: max-content;
    position: relative;
}

.nav-links li::after {
    content: "";
    border-radius: 1rem;
    position: absolute;
    background: rgb(var(--color-text));
    height: 1.5px;
    width: 0%;
    bottom: 0;
    left: 0;
    transition: .2s;
}

.nav-links li:hover::after {
    width: 100%;
}

.theme-toggle-buttons {
    position: relative;
    flex: .2;
    bottom: .3rem;
    height: auto;
    perspective: 30rem;
}

.theme-toggle {
    position: absolute;
    width: 2.2rem;
    cursor: pointer;
    right: 1rem;
    transition: transform 0.3s ease-in-out;
}

.theme-toggle:hover {
    transform: translateZ(2rem);
}

.intro {
    text-align: center;
}


.featured {
    margin-bottom: 4rem;
}

.featured-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
}

.featured-item {
    perspective: 30rem;
}

.featured-card {
    /*border: 1px black solid;*/
    border-radius: 1rem;
    padding: 1rem 2rem;
    max-width: 320px;
    min-width: 100px;
    transition: transform 0.5s ease;
}

.featured-card:hover {
    color: rgb(var(--color-bg));
    background-color: rgb(var(--color-text));
    transform: translateZ(1rem);
}

.featured-card:hover a {
    color: inherit;
}

.featured-title {
    font-size: large;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-top: 0;
    /*might delete*/
}

.featured-tags {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    gap: 1rem;
}

.featured-card-foot {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    row-gap: .5rem;
    column-gap: .75rem;
}

.featured-link {
    font-style: italic;
    text-align: right;
    cursor: pointer;
    transition: transform 0.3s ease;
    width: max-content;
    align-self: flex-end;

}


.featured-link:hover {
    transform: translateX(1rem);
}

.sum-btn {
    display: none;
}


@media (max-width: 48rem) {
    nav {
        padding: 1rem 0;
        margin-top: 1.5rem;
    }

    body {
        padding: 2rem 0 0;
    }

    p,
    li,
    a {
        font-size: .8rem;
    }


    .container {
        padding: 0 2rem;
    }

    .logo-wrapper {
        flex: .5;
    }

    .logo-icon {
        width: 3.5rem;
    }

    .logo-name {
        left: 2.3rem;
        top: 1rem;
        font-size: medium;
        display: none;
    }

    .nav-links {
        font-size: .80rem;
        flex: 2 1 auto;
        justify-content: space-evenly;
    }

    .theme-toggle-buttons {
        flex: .5;
    }

    .theme-toggle {
        width: 2rem;
    }

    .featured-summary {
        display: none;
    }

    .featured-card {
        padding: 0 2rem 1rem;
        border-bottom: 1px solid rgb(var(--color-accent));
        border-radius: .5rem;
        max-width: 100%;
    }

    .featured-list {
        flex-direction: column;
        gap: .5rem;
    }

    .featured-title {
        margin-bottom: .5rem;
        font-size: 1.1rem;
    }

    .sum-btn {
        display: inline-block;
        border: 1px solid;
        border-radius: 1rem;
        margin-bottom: 1rem;
        padding: 0 .6rem;
        background-color: rgb(var(--color-bg));
        color: rgb(var(--color-text));
        box-shadow: rgb(var(--color-text));
        font-style: italic;
    }

}
