.uva h3,
h4,
p {
    margin: 0;
    padding: 0;
}

.uva {
    max-width: 25rem;
    min-width: 10rem;
    padding: 0 1.5rem 1rem;
}

.uva-stats-head,
.uva-uname-id {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
}

.uva-stats-head {
    padding: 1rem 0 1rem;
    margin: 0;
}

.uva-id {
    border: solid grey 1px;
    border-radius: 0.5rem;
    padding: 0.3rem;
}

.stat-items {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.stat-items li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    align-items: center;
}

.uva-stats {
    margin-bottom: 1rem;
}

.uva-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.uhunt-link,
.sol-github {
    padding: 0.3rem 0.4rem;
    border-radius: 0.5rem;
    border: solid rgb(var(--color-text)) 1px;
}

.uhunt-link a,
.sol-github a {
}
